.btn-container {
  width: 50px;
  height: 25px;
  position: relative;
  display: inline-block;

  input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    appearance: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    outline: none;
    background-color: var(--default-background-color);
  }

  .circle {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all 175ms ease-in-out;
    pointer-events: none;
    border: 7px solid var(--alternative-background-color);
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 80%;
      top: -1.25%;
      left: 0;
      border-radius: 50%;
      transform: rotate(30deg) scale(0);
      transition: all 175ms ease-in-out;
      transition-delay: 50ms;
    }
  }

  input[type="checkbox"]:checked ~ .circle {
    left: 25px;
    border: 0;
    background-color: var(--secondary-background-color);

    &::before {
      background-color: var(--default-background-color);
      transform: rotate(30deg) scale(1);
    }
  }
}
